@import url("./reset.css");

:root {
    --sun: #FF9F1C;
    --gray: #011627;
    --teal: #2EC4B5;
    --red: #E71D35;
    --white: #FDFFFC;
    --text-white: #fff;
    --transparent: #00000000;

}
body {
    background-color: var(--bg);
}

.game-field-container {
    text-align: center;
    display: inline-block;
}

app-tic-tac-toe {
    width: 100%;
    display: inline-block;
    text-align: center;
}
