@import url("./reset.css");

:root {
    --button-disabled: #bbb;
    --bg: #ebebeb;
    --border: #656565;
    --x-color: #3499fe;
    --o-color: #fc3437;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
}

body {
    background-color: var(--bg);
}

.container {
    text-align: center;
}

app-game-cell {
    border-right: 7px solid var(--border);
    font-size: 3rem;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.game-field__game-row> app-game-cell:last-child {
    border-right: none;
}
