@import url("./reset.css");

:root {
    --button-disabled: #bbb;
    --bg: #ebebeb;
    --border: #656565;
    --x-color: #3499fe;
    --o-color: #fc3437;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 4rem;
}

body {
    background-color: var(--bg);
}

.game-field-container {
    text-align: center;
    display: inline-block;
}

app-tic-tac-toe {
    width: 100%;
    display: inline-block;
    text-align: center;
}
